<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <input matInput placeholder="First Name" formControlName="firstName">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="lastName">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Password" formControlName="password">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
            <mat-option *ngFor="let role of roles" [value]="role.value">
                {{ role.viewValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button type="submit">Submit</button>
</form>